.congratulations-wrapper {
    display: flex;
    flex-direction: column;
    gap: 9px;

    .congratulations-header {
        background-color: #0096AF;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 18px 16px;
        border-radius: 4px;

        h2 {
            color: white;
            font-size: 18px;
            margin: 0px;
        }

        figure {
            margin: 0px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .esewa-logo {
            width: 72px;
            height: 29px;
        }

        .kmg-logo {
            width: 40px;
            height: 28px;
        }
    }

    .congratulations-body {
        border-radius: 8px;
        border: 1px solid #DDDDDD;
        padding: 36px 16px;
        text-align: center;
        .congratulations-body-text {

            h2 {
                font-size: 24px;
                font-weight: 500;
                margin-bottom: 20px;
            }

            h1 {
                font-size: 32px;
                font-weight: 800;
                margin-bottom: 20px;
            }
        }

        .congratulations-buttons-container {
            display: flex;
            flex-direction: column;
            gap: 12px;
            align-items: center;
            justify-content: center;
            margin-bottom: 16px;
            .share-now-btn {
                padding: 12px 40px;
                color: white;
                background-color: #0096AF;
                border-radius: 3px;
                border: none;
                font-size: 16px;
                font-weight: 500;
            }
            .back-to-home{
                color: black;
            }
        }
    }
}
@media  screen and (max-width:425px) {
    .congratulations-wrapper {
        .congratulations-header {
            h2 {
                font-size: 14px;
            }
        }
    }
    
}
@media screen and (max-width:1190px) {
    .congratulations-wrapper {
        .congratulations-header {
            h2 {
                font-size: 15px;
            }
        }
    }
    
}